:root {
  --size-q: 150px;
}

body,
html {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.item {
  position: absolute;
  /* transition: all .5s ease-out; */
}
.item_1,
.item_2 {
  width: var(--size-q);
  height: var(--size-q);
  background-color: black;
}

.item_1 {
  top: 10px;
  right: 10px;
}

.item_2 {
  background-color: #691817;
  top: calc(10px + var(--size-q) + 10px);
  right: 10px;
}

.item_3 {
  width: 200px;
  height: 100px;
  background-color: black;
  z-index: 10;
  bottom: 15%;
  transform: rotate(-45deg);
  left: 10%;
}
.item_4 {
  width: 400px;
  height: 70px;
  background-color: #cd9e0e;
  z-index: 3;
  top: 70%;
  left: 10%;
  transform: rotate(45deg);
}

.item_5 {
  width: 200px;
  height: 200px;
  background-color: #1f441d;
  border-radius: 50%;
  left: -100px;
}

.item_6 {
  top: 8%;
  left: 30%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 150px solid #24375B;
  transform: rotate(-130deg);
}
